NIX_DIRENV_VERSION="2.3.0"
if ! has nix_direnv_version || ! nix_direnv_version $NIX_DIRENV_VERSION; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

if ! use flake . --override-input devenv-root "file+file://"<(printf %s "$PWD"); then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
